<div class="widget">
    <div class="widget-content widget-content-area br-6">
        <table-search table="vm.membersTable"></table-search>
        <div class="table-responsive mb-4 mt-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <table
                            class="table table-hover datatable"
                            role="grid"
                            ng-table="vm.membersTable"
                            template-pagination="pagination.tpl.html"
                        >
                            <tr class="datatable-row" ng-repeat="member in $data">
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'ACCOUNT'"
                                    sortable="'accountNumber'"
                                >
                                    {{ member.accountNumber }} - {{ member.accountName }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'UPLINE'"
                                    sortable="'parentAccountNumber'"
                                >
                                    {{ member.parentAccountNumber }} - {{ member.parentAccountName }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'SPONSOR'"
                                    sortable="'referrerAccountNumber'"
                                >
                                    {{ member.referrerAccountNumber }} - {{ member.referrerAccountName }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'TYPE'"
                                    sortable="'accountStatus'"
                                    translate="{{ member.accountStatus }}"
                                ></td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'DATE JOINED'"
                                    sortable="'created'"
                                >
                                    {{ member.created | date : 'short' }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
