<div class="modal-header">
    <h5 class="modal-title" id="modal-title" translate="add_member"></h5>
    <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="col-md-12 mx-0">
        <form class="horizontal-wizard">
            <ul class="progressbar">
                <li class="binary" ng-class="{'active':vm.step == 1}"><strong>Binary</strong></li>
                <li class="account" ng-class="{'active':vm.step == 2}"><strong>Account</strong></li>
                <li class="finish" ng-class="{'active':vm.step == 3}"><strong>Finish</strong></li>
            </ul>
        </form>
    </div>
    <div ng-switch="vm.step">
        <form ng-switch-when="1" name="vm.form.binaryForm" class="">
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <label for="firstName" translate="first_name" translate-required="true"></label>
                    <input
                        type="text"
                        class="form-control"
                        id="firstName"
                        ng-model="vm.new.firstName"
                        placeholder="First Name"
                        input-validator="vm.new.firstName"
                        required
                    />
                </div>
                <div class="col-md-6 mb-2">
                    <label for="lastName" translate="last_name" translate-required="true"></label>
                    <input
                        type="text"
                        class="form-control"
                        id="lastName"
                        ng-model="vm.new.lastName"
                        placeholder="Last Name"
                        input-validator="vm.new.lastName"
                        required
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <label for="activationCode" translate="activation_code" translate-required="true"></label>
                    <input
                        type="text"
                        class="form-control"
                        id="activationCode"
                        ng-model="vm.new.activationCode"
                        ng-change="vm.validateActivationCode()"
                        ng-model-options="{ debounce: 1000 }"
                        placeholder="Activation Code"
                        input-validator="vm.validation.activationCode"
                        required
                    />
                    <message-validator validator="vm.validation.activationCode"></message-validator>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="sponsorAccountId" translate="sponsor_id"></label>
                    <input
                        type="text"
                        class="form-control"
                        id="sponsorAccountId"
                        ng-model="vm.new.sponsorAccountId"
                        placeholder="Sponsor ID"
                        disabled
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-2">
                    <label for="sponsorName" translate="sponsor_name"></label>
                    <input
                        type="text"
                        class="form-control"
                        id="sponsorName"
                        ng-model="vm.new.sponsorName"
                        placeholder="Sponsor Name"
                        disabled
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <label for="parentSide" translate="upline_side"></label>
                    <input
                        type="text"
                        class="form-control"
                        id="parentSide"
                        ng-model="vm.new.parentSide"
                        placeholder="Upline Side"
                        disabled
                    />
                </div>
                <div class="col-md-6 mb-2">
                    <label for="parentAccountId" translate="upline_id"></label>
                    <input
                        type="text"
                        class="form-control"
                        id="parentAccountId"
                        ng-model="vm.new.parentAccountId"
                        placeholder="Upline ID"
                        disabled
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-2">
                    <label for="parentName" translate="upline_name"></label>
                    <input
                        type="text"
                        class="form-control"
                        id="parentName"
                        ng-model="vm.new.parentName"
                        placeholder="Upline Name"
                        disabled
                    />
                </div>
            </div>
        </form>
        <form ng-switch-when="2" name="vm.form.userForm">
            <div class="form-group mb-4">
                <div class="custom-control custom-checkbox checkbox-info">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        id="currentUser"
                        ng-model="vm.currentUser"
                        ng-change="vm.useCurrentUser()"
                        ng-disabled="vm.shouldDisableUseCurrentUser()"
                    />
                    <label class="custom-control-label" for="currentUser">
                        <span translate="connect_to_current_user"></span>
                        <span
                            class="text-danger"
                            ng-if="vm.shouldDisableUseCurrentUser()"
                            translate="max_account_limit"
                        ></span>
                    </label>
                </div>
            </div>
            <div class="table-responsive" ng-if="vm.currentUser">
                <table class="table table-bordered mb-0">
                    <thead class="table-active">
                        <tr>
                            <th>
                                <div class="text-center px-2">
                                    <span
                                        class="text-dark-75 text-uppercase font-size-lg"
                                        translate="account_name"
                                    ></span>
                                </div>
                            </th>
                            <th>
                                <div class="text-center px-2">
                                    <span
                                        class="text-dark-75 text-uppercase font-size-lg"
                                        translate="account_id"
                                    ></span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="accounts in vm.userAccounts">
                            <td>
                                <div class="d-flex">
                                    <div class="usr-img-frame mr-2 rounded-circle">
                                        <img alt="avatar" class="img-fluid rounded-circle" src="{{accounts.avatar}}" />
                                    </div>
                                    <p class="align-self-center mb-0 admin-name">{{ accounts.accountName }}</p>
                                </div>
                            </td>
                            <td>
                                <div class="text-center px-2">
                                    <span class="text-dark-75 font-weight-bolder font-size-lg">
                                        {{ accounts.accountNumber }}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="userError.error">
                        <tr>
                            <td class="py-4" colspan="13" align="center">
                                <div class="invalid-feedback">{{ vm.validation.errorMessage.message }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="!vm.currentUser">
                <div class="form-row">
                    <div class="col-md-12 mb-2">
                        <label for="username" translate="username" translate-required="true"></label>
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            ng-model="vm.new.user.username"
                            ng-change="vm.validateUsername()"
                            ng-model-options="{ debounce: 1000 }"
                            placeholder="Username"
                            input-validator="vm.validation.username"
                            required
                        />
                        <message-validator validator="vm.validation.username"></message-validator>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="emailAddress" translate="email_address" translate-required="true"></label>
                        <input
                            type="text"
                            class="form-control"
                            id="emailAddress"
                            ng-model="vm.new.user.emailAddress"
                            ng-change="vm.validateEmailAddress()"
                            ng-model-options="{ debounce: 1000 }"
                            placeholder="Email Address"
                            input-validator="vm.validation.emailAddress"
                            required
                        />
                        <message-validator validator="vm.validation.emailAddress"></message-validator>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-2">
                        <label for="password" translate="password" translate-required="true"></label>
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            ng-model="vm.new.user.password"
                            placeholder="Password"
                            input-validator="vm.new.user.password"
                            required
                        />
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="repeatPassword" translate="repeat_password" translate-required="true"></label>
                        <input
                            type="password"
                            class="form-control"
                            id="repeatPassword"
                            ng-model="vm.new.user.repeatPassword"
                            ng-change="vm.validateRepeatPassword()"
                            ng-model-options="{ debounce: 1000 }"
                            placeholder="Repeat Password"
                            input-validator="vm.validation.repeatPassword"
                            required
                        />
                        <message-validator validator="vm.validation.repeatPassword"></message-validator>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn mr-auto" ng-click="vm.cancel()">Cancel</button>
    <button type="button" class="btn mr-auto" ng-if="vm.step == 2" ng-click="vm.previous()">Previous</button>
    <button
        type="button"
        class="btn btn-primary"
        ng-if="vm.step == 1"
        button-validator="vm.form.binaryForm.$valid"
        ng-click="vm.next()"
    >
        Next Step
    </button>
    <button
        type="button"
        class="btn btn-primary"
        ng-if="vm.step == 2"
        ng-click="vm.save()"
        button-validator="vm.form.userForm.$valid"
    >
        Save
    </button>
</div>
