.layout-spacing {
    padding-bottom: 25px;
}
.layout-top-spacing {
    margin-top: 15px;
}
.widget {
    position: relative;
    padding: 0px;
    border-radius: 8px;
    border: none;
    box-shadow: none;
}
.widget .widget-heading {
    margin-bottom: 15px;
}
.widget h5 {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0px;
    margin-bottom: 0;
    color: #515365;
}

/*
    =====================
       Wallet
    =====================
*/

.widget-wallet {
    padding: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background: transparent;
    border: none;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-wallet .widget-content {
    padding: 24px 30px 24px 30px;
    border-radius: 15px;
    min-height: 213px;
    height: 100%;
	position:relative;
}
.widget-wallet .widget-content.w_wallet {
	background: #283c86;
	background: -webkit-linear-gradient(to right, #4db04f, #007d2b);
	background: linear-gradient(to right, #4db04f, #007d2b);
}
.widget-wallet .widget-content.b_wallet {
    background: #0f2027;
	background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
}
.widget-wallet .widget-content.e_wallet {
	background: #FF5F6D;
	background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
	background: linear-gradient(to right, #FFC371, #FF5F6D);
	
}
.widget-wallet .widget-content .wallet-usr-info {
    display: flex;
    justify-content: space-between;
}
.widget-wallet .widget-content .wallet-usr-info span {
    display: inline-block;
    color: #fff;
    background: rgb(0 0 0 / 40%);
    padding: 5px 12px 5px 12px;
    border-radius: 21px;
    position: relative;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
}
.widget-wallet .widget-content .add {
    align-self: center;
}
.widget-wallet .widget-content .add span {
    padding: 6px;
    border-radius: 12px;
}
.widget-wallet .widget-content .wallet-balance {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.widget-wallet .widget-content .wallet-balance p {
    margin-bottom: 0;
    align-self: center;
    font-size: 19px;
    color: #fff;
}
.widget-wallet .widget-content .wallet-cashout {
    display: flex;
    justify-content: space-between;
}
.widget-wallet .widget-content .wallet-cashout p {
    margin-bottom: 0;
    align-self: center;
    font-size: 19px;
    color: #fff;
}
.widget-wallet .widget-content h5 {
    font-size: 25px;
    color: #fff;
    margin-top: 0;
    font-weight: 500;
}
.widget-wallet .widget-content h5 .wallet-currency {
    color: #bfc9d4;
    display: inline-block;
}
.widget-wallet .widget-content .wallet-action {
    margin-top: 25px;
	display: flex;
	justify-content: space-between;
}
.widget-wallet .widget-content .wallet-action a {
	display: inline-block;
	padding: 6px 10px 6px 10px;
	border-radius: 6px;
	color: #e0e6ed;
	box-shadow: 0px 0px 2px 0px #bfc9d4;
}


/*
    ====================
        Summary
    ====================
*/

.widget-summary {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-summary .widget-heading {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}
.widget-summary .widget-content {
    font-size: 17px;
}
.widget-summary .widget-content .summary-list {
    position: relative;
    padding: 15px;
    background: rgb(224 230 237 / 40%);
    border-radius: 6px;
}
.widget-summary .widget-content .summary-list .summary-info {
    display: flex;
    margin-bottom: 0;
}
.widget-summary .widget-content .widget-icon {
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-right: 12px;
}
.widget-summary .widget-content .widget-icon svg {
    display: block;
    width: 22px;
    height: 22px;
    stroke-width: 1px;
}
.widget-summary .widget-content .summary-list:not(:last-child) {
    margin-bottom: 9px;
}
.widget-summary .widget-content .widget-summary-details {
    width: 100%;
    align-self: center;
}
.widget-summary .widget-content .widget-summary-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
	align-items: center;
}
.widget-summary .widget-content .widget-summary-info h6 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-summary .widget-content .widget-summary-info .summary-count {
    display: block;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 600;
    color: #515365;
}
.widget-summary .widget-content .summary-list.pairing {
    background: rgb(220 207 247 / 34%);
}
.widget-summary .widget-content .summary-list.flushed_out {
	background: rgba(255, 152, 175, 0.34);
}
.widget-summary .widget-content .summary-list.direct_referral {
    background: rgb(186 231 255 / 34%);
}
.widget-summary .widget-content .summary-list.unli_ten {
    background: rgb(255 236 203 / 34%);
}
.widget-summary .widget-content .summary-list.pairing .widget-icon svg {
    color: #805dca;
    fill: rgb(92 26 195 / 16%);
}
.widget-summary .widget-content .summary-list.flushed_out .widget-icon svg {
    color: #f32136;
    fill: rgba(243, 33, 124, 0.16);
}
.widget-summary .widget-content .summary-list.direct_referral .widget-icon svg {
    color: #2196f3;
    fill: rgb(33 150 243 / 16%);
}
.widget-summary .widget-content .summary-list.unli_ten .widget-icon svg {
    color: #e2a03f;
    fill: rgb(226 160 63 / 16%);
}

/*
    ==================
        Activity
    ==================
*/
.widget-activity {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-activity .widget-heading {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}
.widget-activity .activity-list {
    border-radius: 6px;
}
.widget-activity .activity-list .activity-item {
    display: flex;
    justify-content: space-between;
	margin-bottom: 5px;
	padding: 5px 12px;
	border: 1px dashed #bfc9d4;
	border-radius: 6px;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.widget-activity .activity-list .activity-item.last-child {
    margin-bottom: 0px;
}
.widget-activity .activity-list .activity-item .activity-details {
    display: flex;
}
.widget-activity .activity-list .activity-item .activity-icon {
    margin-right: 12px;
}
.widget-activity .activity-list .activity-item .activity-icon  .avatar-title {
    border-radius: 12px;
    position: relative;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
}
.widget-activity .activity-list .activity-item .activity-icon  .avatar-title.ww {
	background-color: rgb(179, 255, 181);
	color: #439c4b;
}
.widget-activity .activity-list .activity-item .activity-icon  .avatar-title.bw {
	background-color: #3b3f5c;
	color: #fff;
}
.widget-activity .activity-list .activity-item .activity-icon  .avatar-title.ew {
	background-color: rgb(255, 225, 226);
	color: #e7515a;
}

.widget-activity .activity-list.activity-info .activity-item .activity-icon  .avatar-title {
    background-color: rgb(186, 231, 255);
    color: #2196f3;
}
.widget-activity .activity-list.activity-secondary .activity-item .activity-icon .icon {
    background-color: rgb(220, 207, 247);
}
.widget-activity .activity-list.activity-secondary .activity-item .activity-icon .icon svg {
    color: #805dca;
}
.widget-activity .activity-list .activity-item .activity-icon .icon {
    position: relative;
    background-color: rgb(255, 236, 203);
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
}
.widget-activity .activity-list .activity-item .activity-icon .icon svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    stroke-width: 2;
}
.widget-activity .activity-list .activity-item .activity-name {
    align-self: center;
}
.widget-activity .activity-list .activity-item .activity-name h4 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    transition: all 0.5s ease;
}
.widget-activity .activity-list .activity-item .activity-name .meta-date {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 500;
    color: #888ea8;
}
.widget-activity .activity-list .activity-item .activity-rate.rate-inc p {
    color: #009688;
}
.widget-activity .activity-list .activity-item .activity-rate.rate-desc p {
    color: #e7515a;
}

/* 
===================
    User Profile
===================
*/
.widget-profile {
	position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-profile .widget-content-area { border-radius: 6px; }
.widget-profile .widget-content-area .edit-profile {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #1b55e2;
    background: linear-gradient(to right, #0081ff 0%, #0045ff 100%);;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 69, 255, 0.2);
}
.widget-profile .widget-content-area .edit-profile svg {
    font-size: 17px;
    vertical-align: middle;
    margin-right: 0;
    color: #fff;
    width: 19px;
    align-self: center;
}
.widget-profile .widget-content-area h3 {
    position: relative;
    font-size: 21px;
    font-weight: 600;
    color: #3b3f5c;
    margin: 6px 0px 0 0;
}
.widget-profile .widget-content-area h3:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #1b55e2;
    border-radius: 50%;
    bottom: 9px;
    left: 9px;
}
.widget-profile .widget-content-area .user-info { margin-top: 40px; }
.widget-profile .widget-content-area .user-info img {
    border-radius: 9px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
}
.widget-profile .widget-content-area .user-info p {
    font-size: 20px;
    font-weight: 600;
    margin-top: 22px;
    color: #1b55e2;
}wi
.widget-profile .widget-content-area .user-info-list ul.contacts-block {
    border: none;
    max-width: 217px;
    margin: 36px auto;
}
.widget-profile .widget-content-area .user-info-list ul.contacts-block li {
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 16px;
}
.widget-profile .widget-content-area .user-info-list ul.contacts-block li a {
    font-weight: 600;
    font-size: 15px;
    color: #1b55e2;
}
.widget-profile .widget-content-area .user-info-list ul.contacts-block svg {
    width: 21px;
    margin-right: 15px;
    color: #888ea8;
    vertical-align: middle;
    fill: rgba(0, 23, 55, 0.08);
}
.widget-profile .widget-content-area .user-info-list ul.contacts-block li:hover svg {
    color: #1b55e2;
    fill: rgba(27, 85, 226, 0.23921568627450981);
}
.widget-profile .widget-content-area .user-info-list ul.contacts-block ul.list-inline  {
    margin: 27px auto;
}
.widget-profile .widget-content-area .user-info-list ul.contacts-block ul.list-inline div.social-icon {
    border: 2px solid #e0e6ed;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.widget-profile .widget-content-area .user-info-list ul.contacts-block ul.list-inline svg {
    margin-right: 0;
    color: #1b55e2;
    width: 19px;
    align-self: center;
}
.widget .widget.binary {
	position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget .widget.binary #binary-tree{
	height:500px;
}