.layout-spacing {
    padding-bottom: 25px;
}
.layout-top-spacing {
    margin-top: 15px;
}
.widget {
    position: relative;
    padding: 0px;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    /* background: #fff; */
}
.widget .widget-heading {
    margin-bottom: 15px;
}
.widget h5 {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0px;
    margin-bottom: 0;
    color: #515365;
}

/*
    =====================
       Wallet
    =====================
*/

.widget-wallet {
    padding: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background: transparent;
    border: none;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-wallet .widget-content {
    padding: 24px 30px 24px 30px;
    border-radius: 15px;
    min-height: 213px;
    height: 100%;
	position:relative;
}
.widget-wallet .widget-content.w_wallet {
	background: #283c86;
	background: -webkit-linear-gradient(to right, #45a247, #283c86);
	background: linear-gradient(to right, #45a247, #283c86);
	
}
.widget-wallet .widget-content.b_wallet {
    background: #0f2027;
	background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
}
.widget-wallet .widget-content.e_wallet {
	background: #FF5F6D;
	background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
	background: linear-gradient(to right, #FFC371, #FF5F6D);
	
}
.widget-wallet .widget-content .wallet-usr-info {
    display: flex;
    justify-content: space-between;
}
.widget-wallet .widget-content .wallet-usr-info span {
    display: inline-block;
    color: #fff;
    background: rgb(0 0 0 / 40%);
    padding: 5px 12px 5px 12px;
    border-radius: 21px;
    position: relative;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
}
.widget-wallet .widget-content .add {
    align-self: center;
}
.widget-wallet .widget-content .add span {
    padding: 6px;
    border-radius: 12px;
}
.widget-wallet .widget-content .wallet-balance {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.widget-wallet .widget-content .wallet-balance p {
    margin-bottom: 0;
    align-self: center;
    font-size: 19px;
    color: #fff;
}
.widget-wallet .widget-content h5 {
    font-size: 28px;
    color: #fff;
    margin-top: 0;
    font-weight: 500;
}
.widget-wallet .widget-content h5 .wallet-currency {
    color: #bfc9d4;
    display: inline-block;
}
.widget-wallet .widget-content .wallet-action {
    margin-top: 35px;
	display: flex;
	justify-content: space-between;
}
.widget-wallet .widget-content .wallet-action a {
	display: inline-block;
	padding: 6px 10px 6px 10px;
	border-radius: 6px;
	color: #e0e6ed;
	box-shadow: 0px 0px 2px 0px #bfc9d4;
}


/*
    ====================
        Summary
    ====================
*/

.widget-summary {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-summary .widget-heading {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}
.widget-summary .widget-content {
    font-size: 17px;
}
.widget-summary .widget-content .summary-list {
    position: relative;
    padding: 15px;
    background: rgb(224 230 237 / 40%);
    border-radius: 6px;
}
.widget-summary .widget-content .summary-list .summery-info {
    display: flex;
    margin-bottom: 0;
}
.widget-summary .widget-content .widget-icon {
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-right: 12px;
}
.widget-summary .widget-content .widget-icon svg {
    display: block;
    width: 22px;
    height: 22px;
    stroke-width: 1px;
}
.widget-summary .widget-content .summary-list:not(:last-child) {
    margin-bottom: 9px;
}
.widget-summary .widget-content .widget-summary-details {
    width: 100%;
    align-self: center;
}
.widget-summary .widget-content .widget-summary-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
	align-items: center;
}
.widget-summary .widget-content .widget-summary-info h6 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-summary .widget-content .widget-summary-info .summary-count {
    display: block;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 600;
    color: #515365;
}
.widget-summary .widget-content .summary-list.pairing {
    background: rgb(220 207 247 / 34%);
}
.widget-summary .widget-content .summary-list.flushed_out {
	background: rgba(255, 152, 175, 0.34);
}
.widget-summary .widget-content .summary-list.direct_referral {
    background: rgb(186 231 255 / 34%);
}
.widget-summary .widget-content .summary-list.unli_ten {
    background: rgb(255 236 203 / 34%);
}
.widget-summary .widget-content .summary-list.pairing .widget-icon svg {
    color: #805dca;
    fill: rgb(92 26 195 / 16%);
}
.widget-summary .widget-content .summary-list.flushed_out .widget-icon svg {
    color: #f32136;
    fill: rgba(243, 33, 124, 0.16);
}
.widget-summary .widget-content .summary-list.direct_referral .widget-icon svg {
    color: #2196f3;
    fill: rgb(33 150 243 / 16%);
}
.widget-summary .widget-content .summary-list.unli_ten .widget-icon svg {
    color: #e2a03f;
    fill: rgb(226 160 63 / 16%);
}
