<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
    <div class="card h-100">
        <div class="card-body">
            <div class="widget widget-balance">
                <div class="widget-heading">
                    <h5 class="">Wallet Info</h5>
                </div>
                <div class="widget-content">
                    <div class="invoice-box">
                        <div class="acc-total-info">
                            <h5>Balance</h5>
                            <p class="acc-amount">P470</p>
                        </div>
                        <div class="inv-detail">
                            <div class="info-detail-1">
                                <p>Referrals</p>
                                <p>P199.0</p>
                            </div>
                            <div class="info-detail-2">
                                <p>Watch and Earn</p>
                                <p>P17.82</p>
                            </div>
                            <div class="info-detail-3 info-sub">
                                <div class="info-detail">
                                    <p>Pairings this week</p>
                                    <p>P125</p>
                                </div>
                                <div class="info-detail-sub">
                                    <p>1st Level</p>
                                    <p>P 50</p>
                                </div>
                                <div class="info-detail-sub">
                                    <p>2nd Level</p>
                                    <p>P 75</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="border: none; background-color: #fff">
            <div class="inv-action">
                <a href="#" class="btn btn-danger">Withdraw</a>
            </div>
        </div>
    </div>
</div>
