<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <h5 class="mb-4">ONE-CREATIONS BUSINESS CENTER</h5>
        <h6 class="mb-3">TERMS AND CONDITIONS</h6>
        <p>
            <span>
                We put our affiliate-members' interests first, always. We adhere to the highest standards of
                Truthfulness, Integrity and Trustworthiness. We maintain confidentially of all our affiliate ad
                companies' and members' information and circumstances.
            </span>
        </p>
        <div class="text-dark mb-4 terms">
            <ol>
                <li class="mb-4">
                    Use of this website provided by
                    <strong>ONE-CREATIONS BUSINESS CENTER</strong>
                    , ("Us") by you, your business, members, officers and employees, ("You") and any services contained
                    within constitute acceptance of these Terms & Conditions.
                </li>
                <li class="mb-4">
                    <strong>Customer Use</strong>
                    <ol>
                        <li>
                            Make sure your account profile is complete and valid and the contact's information you
                            provide is accurate before creating a customer account or processing a premium subscription.
                        </li>
                        <li>
                            Our Website is strictly for adults - defined as those aged 18 and above - who are capable of
                            entering into a binding agreement. Submit supportive document(s) if necessary.
                        </li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>Account Integrity</strong>
                    <ol>
                        <li>
                            <span class="mb-4">
                                The registration process requires the creation of an account, a username and password.
                                Make sure the information you provide is correct and not misleading.
                            </span>
                            <br />
                            <span>
                                NOTICE: Don't create an account, or username and password using the names and
                                information belonging to another person, or words that are the trademark of another, or
                                the property of another. You are not supposed to use vulgar, obscene or inappropriate
                                words.
                            </span>
                        </li>
                        <li>
                            Look after your username and password through our website. Make sure that you store your
                            username and password securely and that they are not provided to another party, who could
                            intentionally access your account.
                        </li>
                        <li>
                            You are responsible for your customer account and any actions taken within it. If you are
                            aware or suspect that your customer account's username and password, or other details have
                            become known to a third party, you should inform us immediately.
                        </li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>License to use the website</strong>
                    <ol>
                        <li>
                            You may:
                            <ol class="lower-alpha">
                                <li>View pages from our website using a web browser</li>
                                <li>Print pages for personal use and not for selling purpose</li>
                                <li>Stream audio and video files from our website</li>
                                <span>Subject to the other provisions of these terms and conditions.</span>
                            </ol>
                        </li>
                        <li>
                            You may only use our website for your own personal purposes and may not use the site for any
                            other purposes.
                        </li>
                        <li>
                            Except as expressly permitted by these terms and conditions, you must not edit or otherwise
                            modify any material on our website.
                        </li>
                        <li>
                            You cannot:
                            <ol class="lower-alpha">
                                <li>Republish materials from our website</li>
                                <li>Sell, rent or sub-license material from our website</li>
                                <li>Show any material from our website in public</li>
                                <li>Exploit materials from our website for commercial purpose</li>
                                <li>Redistribute material or materials from our website</li>
                            </ol>
                        </li>
                        <li>
                            However, you may redistribute (our newsletter) in print and electronic form to any person.
                        </li>
                        <li>
                            We reserve the right to restrict access to areas of our website, or our whole website, at
                            our discretion; you must not circumvent or bypass, or attempt to circumvent or bypass, any
                            access restriction measures on our website.
                        </li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>Acceptable use</strong>
                    <ol>
                        <li>
                            You must not:
                            <ol class="lower-alpha">
                                <li>
                                    Use our website in any way or take any action that causes, or may cause damage to
                                    the website or impairment of the performance, availability or accessibility of the
                                    website;
                                </li>
                                <li>
                                    Use our website in any way that is unlawful, illegal, fraudulent or harmful, or in
                                    connection with any unlawful, illegal, fraudulent or harmful purpose or activity;
                                </li>
                                <li>
                                    You must ensure that all the information you supply to us through our website or in
                                    relation to our website is true, accurate, current, complete and non-misleading.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Our Website is strictly for adults - defined as those aged 18 and above - who are capable of
                            entering into a binding agreement. Submit supportive document(s) if necessary.
                        </li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>User login details</strong>
                    <ol>
                        <li>
                            If you register for an account with our website, you will be asked to choose a user ID and
                            password.
                        </li>
                        <li>
                            Your user ID must not be liable to mislead and must comply with the content rules set by the
                            company, you must not use your account or user ID for or in connection with the
                            impersonation of any person.
                        </li>
                        <li>You must keep your password confidential.</li>
                        <li>
                            You must notify us in writing immediately if you become aware of any disclosure of your
                            password.
                        </li>
                        <li>
                            You are responsible for any activity on our website arising out of any failure to keep your
                            password confidential, and may be held liable for any losses arising out of such a failure.
                        </li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>Cancellation and suspension of account</strong>
                    <ol>
                        <li>
                            We may:
                            <ol class="lower-alpha">
                                <li>Edit your account details;</li>
                                <li>Temporarily suspend your account; and/or</li>
                                <li>
                                    Cancel your account at any time in our sole discretion, providing that If we cancel
                                    your regular or premium subscription, you will not be able to apply for refund once
                                    you use the training or services of the company. We will give you a written notice
                                    of any cancellation under this section 7.1
                                </li>
                            </ol>
                        </li>
                        <li>You may cancel your account by writing a letter to the company.</li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>Subscription</strong>
                    <ol>
                        <li>
                            Regular subscription is free. To access premium content, you must pay the applicable premium
                            subscription fees (during the account registration procedure) or (after you have registered
                            for an account with our website). We will send you an acknowledgement once you register as a
                            premium subscriber. The contract between us shall come into force upon accepting this
                            agreement.
                        </li>
                        <li>
                            For so long as your account and subscription remain active in accordance with these terms
                            and conditions, you will benefit from the features specified on our website in relation to
                            your subscription type.
                        </li>
                        <li>
                            From time to time, we may amend the benefits associated with a subscription without prior
                            notice to our subscribers.
                        </li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>Fees</strong>
                    <ol>
                        <li>The fees in respect to our services will be set out on the website from time to time.</li>
                        <li>
                            We may vary fees from time to time by posting new fees on our website, but this will not
                            affect fees for services that have been previously paid.
                        </li>
                        <li>
                            If you dispute any payment made to us, you must contact us immediately and provide full
                            details of your claim.
                        </li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>Pay-out</strong>
                    <ol>
                        <li>
                            Payout schedule shall be strictly followed, any changes in the venue and date shall be
                            posted as official memo via social media. The company is not liable for any misleading
                            information unless otherwise corrected by the management.
                        </li>
                        <li>
                            A charge of 10% as administrative fee will be deducted from the total payout for
                            remittances. However, it does not include the processing fee that will also be charge to the
                            payee.
                        </li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>Advertisements</strong>
                    <ol>
                        <li>
                            Website Advertisements usage includes, but not limited to:
                            <ol class="lower-alpha">
                                <li>Display of banner ads on the lower portion of the application;</li>
                                <li>Popup ads displayed on the browser during usage;</li>
                                <li>New Tab opens after certain actions;</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li class="mb-4">
                    <strong>Remarks</strong>
                    <ol>
                        <li>
                            All statement above shall be final and effective, unless hereby change and revoke by the
                            management.
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <h6 class="mb-3">RULES AND REGULATIONS</h6>
        <div class="text-dark mb-4">
            <ol>
                <li>
                    <div class="mb-3"><strong>RULE NO. 1 - LOYALTY</strong></div>
                    <div class="mb-3">
                        ALL OFFICERS AND MEMBERS shall at all times remain loyal to the company and strictly follows all
                        pertaining policies from time to time. They should not commit acts, which are not limited to
                        associating, representing, sponsoring, and conspiring in any mode and form, for the benefits or
                        advantage, directly or indirectly, of any competing companies, either domestic or abroad.
                    </div>
                    <div class="mb-3"><strong>PENALTIES</strong></div>
                    <div class="mb-3">
                        <strong>FIRST OFFENSE:</strong>
                        One (1) month deactivation of all the accounts with forfeiture in favour of the company of all
                        the benefits, commissions, which accrued at the time of the commission of the violation, without
                        prejudice to criminal prosecution.
                    </div>
                    <div class="mb-3">
                        <strong>SECOND OFFENSE:</strong>
                        Perpetual deactivation of all the accounts, as well as forfeiture of all benefits, privileges,
                        commissions and other remunerations either monetary or in kind, in favor of the company, which
                        accrued at the time of the commission of the violation, without prejudice to criminal
                        prosecution.
                    </div>
                </li>
                <li>
                    <div class="mb-3"><strong>RULE NO. 2 - MISREPRESENTATION</strong></div>
                    <div class="mb-3">
                        All company officers and members are strictly enjoined to be professionals in all acts and
                        bearings, dealings or transactions by not making any false statements, such as, but not limited
                        to, misrepresentation, exaggeration, disinformation, vane promises, introducing spurious
                        products or services, or circumventing the marketing plans or programs of the company that
                        contravene the tenor and purposes thereof.
                    </div>
                    <div class="mb-3"><strong>PENALTIES</strong></div>
                    <div class="mb-3">
                        <strong>FIRST OFFENSE:</strong>
                        One (1) month deactivation of all the accounts with forfeiture in favor of the company of all
                        the benefits, commissions, which accrued at the time of the commission of the violation, without
                        prejudice to criminal prosecution.
                    </div>
                    <div class="mb-3">
                        <strong>SECOND OFFENSE:</strong>
                        Perpetual deactivation of all the accounts, as well as forfeiture of all benefits, privileges,
                        commissions and other remunerations either monetary or in kind in favor of the company, which
                        accrued at the time of the commission of the violation, without prejudice to criminal
                        prosecution.
                    </div>
                </li>
                <li>
                    <div class="mb-3"><strong>RULE NO. 3 - INTEGRITY AND CREDIBILITY</strong></div>
                    <div class="mb-3">
                        All company officers and members are strictly enjoined to be honest and credible in all deeds by
                        not committing acts against the company or fellow members, which are but not limited to:
                        <ol type="A">
                            <li>Imitating or counterfeiting any handwriting, or signature;</li>
                            <li>
                                Causing it to appear that a member has participated in any act or activity when in fact,
                                he did not so participated;
                            </li>
                            <li>
                                Inserting untruthful statements in a narration of facts such as those in the affidavit,
                                deed and other documents similar thereto;
                            </li>
                            <li>
                                Making any alteration or intercalation in a genuine document which alters or changes its
                                meaning;
                            </li>
                            <li>
                                Issuing in an authenticated form of a document purporting to be a copy of an original
                                document, when no such original actually exists;
                            </li>
                        </ol>
                    </div>
                    <div class="mb-3"><strong>PENALTIES</strong></div>
                    <div class="mb-3">
                        <strong>FIRST OFFENSE:</strong>
                        One (1) month deactivation of all the accounts with forfeiture in favor of the company of all
                        the benefits, commissions, which accrued at the time of the commission of the violation, without
                        prejudice to criminal prosecution.
                    </div>
                    <div class="mb-3">
                        <strong>SECOND OFFENSE:</strong>
                        Perpetual deactivation of all the accounts, as well as forfeiture of all benefits, privileges,
                        commissions and other remunerations either monetary or in kind in favor of the company, which
                        accrued at the time of the commission of the violation, without prejudice to criminal
                        prosecution.
                    </div>
                </li>
                <li>
                    <div class="mb-3"><strong>RULE NO. 4 - RESPECT</strong></div>
                    <div class="mb-3">
                        All company officers and members are strictly enjoined to observe mutual respect towards fellow
                        members, officers and employees of the company, by not committing directly or indirectly any
                        inimical or malevolent acts, which are but not limited to, rudeness, retaliation, coercion,
                        bullying, disrespect and discourtesy.
                    </div>
                    <div class="mb-3"><strong>PENALTIES</strong></div>
                    <div class="mb-3">
                        <strong>FIRST OFFENSE:</strong>
                        One (1) month deactivation of all the accounts with forfeiture in favor of the company of all
                        the benefits, commissions, which accrued at the time of the commission of the violation, without
                        prejudice to criminal prosecution.
                    </div>
                    <div class="mb-3">
                        <strong>SECOND OFFENSE:</strong>
                        Perpetual deactivation of all the accounts, as well as forfeiture of all benefits, privileges,
                        commissions and other remunerations either monetary or in kind in favor of the company, which
                        accrued at the time of the commission of the violation, without prejudice to criminal
                        prosecution.
                    </div>
                </li>
                <li>
                    <div class="mb-3"><strong>RULE NO. 5 - FRAUD</strong></div>
                    <div class="mb-3">
                        All company officers and members are strictly enjoined not to commit any fraudulent acts or
                        false pretences to the prejudice directly or indirectly of the company or fellow members. Such
                        acts are not limited to:
                        <ol type="A">
                            <li>
                                Using a fictitious name, falsified documents or dummy, or by means of other similar
                                deceits purportedly to obtain personal gain and interest;
                            </li>
                            <li>
                                By altering the quality, fineness or weight of the product or any products pertaining to
                                the business of the company, or imitating any of those products;
                            </li>
                            <li>
                                Any acts done to a fellow member or to the company, which constitute estafa, and other
                                forms of swindling under the Revised Penal Code.
                            </li>
                        </ol>
                    </div>
                    <div class="mb-3"><strong>PENALTIES</strong></div>
                    <div class="mb-3">
                        <strong>FIRST OFFENSE:</strong>
                        One (1) month deactivation of all the accounts with forfeiture in favor of the company of all
                        the benefits, commissions, which accrued at the time of the commission of the violation, without
                        prejudice to criminal prosecution.
                    </div>
                    <div class="mb-3">
                        <strong>SECOND OFFENSE:</strong>
                        Perpetual deactivation of all the accounts, as well as forfeiture of all benefits, privileges,
                        commissions and other remunerations, either monetary or in kind, in favor of the company, which
                        accrued at the time of the commission of the violation, without prejudice to a criminal
                        prosecution.
                    </div>
                </li>
                <li>
                    <div class="mb-3"><strong>RULE NO. 6 - UNAUTHORIZED TRANSFER OF MEMBERS</strong></div>
                    <div class="mb-3">
                        All company officers and members are strictly prohibited to transfer and encourage the acts of
                        transferring from one group to another.
                    </div>
                    <div class="mb-3"><strong>PENALTIES</strong></div>
                    <div class="mb-3">
                        <strong>FIRST OFFENSE:</strong>
                        One (1) month deactivation of all the accounts with forfeiture in favor of the company of all
                        the benefits, privileges, commissions and other remunerations either monetary or in kind, which
                        accrued at the time of the commission of the violation, without prejudice to criminal
                        prosecution.
                    </div>
                    <div class="mb-3">
                        <strong>SECOND OFFENSE:</strong>
                        Perpetual deactivation of all the accounts, as well as forfeiture of all benefits, privileges,
                        commissions and other remunerations, either monetary or in kind, in favor of the company, which
                        accrued at the time of the commission of the violation, without prejudice to criminal
                        prosecution.
                    </div>
                </li>
                <li>
                    <div class="mb-3"><strong>RULE NO. 7 - PREVENTION OF ADS DISPLAY</strong></div>
                    <div class="mb-3">
                        All Members agree to display ads during the usage of the application. Usage of tools that are
                        designed to prevent, remove or hide the display of ads, including but not limited to ad blockers
                        and browser extensions are prohibited.
                    </div>
                    <div class="mb-3"><strong>PENALTIES</strong></div>
                    <div class="mb-3">
                        <strong>FIRST OFFENSE:</strong>
                        One (1) month deactivation of all the accounts with forfeiture in favor of the company of all
                        the benefits, privileges, commissions and other remunerations either monetary or in kind, which
                        accrued at the time of the commission of the violation, without prejudice to criminal
                        prosecution.
                    </div>
                    <div class="mb-3">
                        <strong>SECOND OFFENSE:</strong>
                        Perpetual deactivation of all the accounts, as well as forfeiture of all benefits, privileges,
                        commissions and other remunerations, either monetary or in kind, in favor of the company, which
                        accrued at the time of the commission of the violation, without prejudice to criminal
                        prosecution.
                    </div>
                </li>
            </ol>
        </div>
        <h6 class="mb-3">REMARKS</h6>
        <p>
            <span>All the contents of this rules and regulations are subject to change without further notice.</span>
        </p>
    </div>
</div>
