<li class="nav-item dropdown user-profile-dropdown order-lg-0 order-1">
    <a
        href="javascript:void(0);"
        class="nav-link dropdown-toggle user"
        id="user-profile-dropdown"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        <div class="media">
            <img src="{{ vm.selectedAccount.avatar }}" class="img-fluid" alt="" />
            <div class="media-body align-self-center">
                <h6>
                    <span>Hi,</span>
                    {{ vm.selectedAccount.accountName }}
                </h6>
            </div>
        </div>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down"
        >
            <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
    </a>
    <div class="dropdown-menu position-absolute animated fadeInUp" aria-labelledby="user-profile-dropdown">
        <div class="">
            <div class="dropdown-item">
                <a class="" ui-sref="members.profile">
                    <i class="fa-duotone fa-user"></i>
                    My Profile
                </a>
            </div>
            <div class="dropdown-item">
                <a class="" ng-click="vm.viewUserAccount()">
                    <i class="fa-duotone fa-user-gear"></i>
                    My Account
                </a>
            </div>
            <div class="dropdown-item">
                <a class="" ng-click="vm.logout()">
                    <i class="fa-duotone fa-arrow-right-from-bracket"></i>
                    Log Out
                </a>
            </div>
        </div>
    </div>
</li>
