<li class="nav-item dropdown user-profile-dropdown order-lg-0 order-1">
    <a
        href="javascript:void(0);"
        class="nav-link dropdown-toggle user"
        id="user-profile-dropdown"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        <div class="media">
            <img src="{{ vm.selectedAccount.avatar }}" class="img-fluid" alt="" />
            <div class="media-body align-self-center">
                <h6>
                    <span>Hi,</span>
                    {{ vm.selectedAccount.accountName }}
                </h6>
            </div>
        </div>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down"
        >
            <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
    </a>
    <div class="dropdown-menu position-absolute animated fadeInUp" aria-labelledby="user-profile-dropdown">
        <div class="">
            <div class="dropdown-item">
                <a class="" ui-sref="members.profile">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-user"
                    >
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    My Profile
                </a>
            </div>
            <div class="dropdown-item">
                <a class="" ui-sref="members.profile">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-user"
                    >
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                    My Account
                </a>
            </div>
            <div class="dropdown-item">
                <a class="" ng-click="vm.logout()">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-log-out"
                    >
                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                        <polyline points="16 17 21 12 16 7"></polyline>
                        <line x1="21" y1="12" x2="9" y2="12"></line>
                    </svg>
                    Log Out
                </a>
            </div>
        </div>
    </div>
</li>
