<div class="widget-content widget-content-area br-6">
    <div class="videogular-container">
        <videogular vg-theme="vm.config.theme.url">
            <vg-media vg-src="vm.config.sources"></vg-media>
            <vg-controls>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
            </vg-controls>

            <vg-ima-ads
                vg-network="controller.config.plugins.ads.network"
                vg-unit-path="controller.config.plugins.ads.unitPath"
                vg-companion="controller.config.plugins.ads.companion"
                vg-companion-size="controller.config.plugins.ads.companionSize"
                vg-ad-tag-url="controller.config.plugins.ads.adTagUrl"
                vg-skip-button="controller.config.plugins.ads.skipButton"
            ></vg-ima-ads>
            <my-replay-plugin></my-replay-plugin>
            <vg-overlay-play></vg-overlay-play>
            <vg-poster vg-url="vm.config.plugins.poster"></vg-poster>
        </videogular>
        <div id="companionAd"></div>
    </div>
</div>
