<div class="row">
    <div class="col-md-12 col-lg-6 layout-spacing" ng-repeat="wallet in vm.wallets track by $index">
        <div class="widget widget-wallet">
            <div class="widget-content" ng-class="wallet.wallet | lowercase">
                <div class="wallet-usr-info">
                    <div class="usr-name" translate="{{ wallet.wallet }}"></div>
                </div>
                <div class="wallet-balance">
                    <p translate="total_balance"></p>
                    <h5>
                        <span class="wallet-currency" translate="currency"></span>
                        {{ wallet.total | number: 2 }}
                    </h5>
                </div>
                <div class="wallet-cashout">
                    <p translate="total_cashout"></p>
                    <h5>
                        <span class="wallet-currency" translate="currency"></span>
                        {{ wallet.cashout | number: 2 }}
                    </h5>
                </div>
                <div class="wallet-action">
                    <div class=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
