<div class="topbar-nav header navbar" role="banner">
    <nav id="topbar">
        <ul class="navbar-nav theme-brand flex-row text-center">
            <li class="nav-item theme-logo">
                <a ui-sref="members.dashboard">
                    <img src="{{ vm.appLogo }}" class="navbar-logo" alt="logo" />
                </a>
            </li>
            <li class="nav-item theme-text">
                <a ui-sref="members.dashboard" class="nav-link">{{ vm.appName }}</a>
            </li>
        </ul>
        <ul class="list-unstyled menu-categories" id="topAccordion">
            <li class="menu single-menu">
                <a
                    ui-sref="members.dashboard"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle autodroprown"
                >
                    <div class="">
                        <i class="fa-duotone fa-house"></i>
                        <span>Dashboard</span>
                    </div>
                </a>
            </li>
            <li class="menu single-menu">
                <a
                    ui-sref="members.genealogy"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle autodroprown"
                >
                    <div class="">
                        <i class="fa-duotone fa-code-fork fa-rotate-180"></i>
                        <span>Genealogy</span>
                    </div>
                </a>
            </li>
            <li class="menu single-menu">
                <a
                    ui-sref="members.earn"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle autodroprown"
                >
                    <div class="">
                        <i class="fa-duotone fa-circle-play"></i>
                        <span>Watch and Earn</span>
                    </div>
                </a>
            </li>
            <li class="menu single-menu">
                <a
                    ui-sref="members.codes"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle autodroprown"
                >
                    <div class="">
                        <i class="fa-solid fa-input-text"></i>
                        <span>Activation Codes</span>
                    </div>
                </a>
            </li>
            <li class="menu single-menu">
                <a
                    ui-sref="members.cashout"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle autodroprown"
                >
                    <div class="">
                        <i class="fa-duotone fa-money-from-bracket"></i>
                        <span>Cash Outs</span>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>
