<div class="widget widget-activity">
    <div class="widget-heading">
        <h5 class="">Recent Activities</h5>
    </div>
    <div class="widget-content">
        <div class="activity-list">
            <div class="activity-item" ng-repeat="activity in vm.activities" ng-class="{ 'last-child': $last }">
                <div class="activity-details">
                    <div class="activity-icon">
                        <div class="icon">
                            <span class="avatar-title" ng-class="activity.wallet | initials | lowercase ">
                                {{ activity.wallet | initials }}
                            </span>
                        </div>
                    </div>
                    <div class="activity-name">
                        <h4 translate="{{ activity.activityType }}"></h4>
                        <p class="meta-date">{{ activity.modified | date: 'short' }}</p>
                    </div>
                </div>
                <div
                    class="activity-rate"
                    ng-class="{ 'rate-inc': activity.amount > 0, 'rate-desc': activity.amount < 0 }"
                >
                    <p><span>{{ activity.amount | currency:'₱': 2 }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
