<div class="modal-header">
    <h5 class="modal-title" id="modal-title" translate="cashout_form"></h5>
    <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="vm.form.cashoutForm">
        <div class="form-row">
            <div class="col-md-12 mb-2">
                <label for="amount" translate="cashout_amount" translate-required="true"></label>
                <select
                    class="form-control"
                    id="amount"
                    ng-options="bracket as bracket for bracket in vm.cashoutBracket"
                    ng-model="vm.cashout.amount"
                    ng-change="vm.validateAmount()"
                    ng-model-options="{ debounce: 1000 }"
                    input-validator="vm.validation.amount"
                    ng-disabled="vm.shouldDisableCashoutAmount"
                    required
                ></select>
                <message-validator validator="vm.validation.amount"></message-validator>
            </div>
            <div class="col-md-12 mb-2">
                <label for="name" translate="cashout_name" translate-required="true"></label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    ng-model="vm.cashout.details.name"
                    placeholder="Receiver Name"
                    input-validator="vm.cashout.details.name"
                    required
                />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-2">
                <label for="phoneNumber" translate="cashout_phone_number" translate-required="true"></label>
                <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    ng-model="vm.cashout.details.phoneNumber"
                    placeholder="Contact Number"
                    input-validator="vm.cashout.details.phoneNumber"
                    required
                />
            </div>
            <div class="col-md-12 mb-2">
                <label for="method" translate="cashout_method" translate-required="true"></label>
                <select
                    class="form-control"
                    id="method"
                    ng-model="vm.cashout.details.method"
                    input-validator="vm.cashout.details.method"
                    required
                >
                    <option ng-repeat="method in vm.paymentMethods" ng-value="method" translate="{{method}}"></option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-2">
                <label for="note" translate="cashout_note"></label>
                <textarea class="form-control" id="note" ng-model="vm.cashout.details.note" rows="3"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn mr-auto" ng-click="vm.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="vm.requestCashout()">Request</button>
</div>
