<div class="widget-content widget-content-area br-6">
    <div class="table-responsive mb-4 mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <table
                        class="table table-hover datatable"
                        role="grid"
                        ng-table="vm.referralLinksTable"
                        template-pagination="pagination.tpl.html"
                    >
                        <tr class="datatable-row" ng-repeat="code in $data">
                            <td
                                class="datatable-cell datatable-cell-left text-left"
                                header-class="'text-left'"
                                data-title="'REFERRAL CODE'"
                                sortable="'code'"
                            >
                                {{ code.code }}
                            </td>
                            <td
                                class="datatable-cell datatable-cell-left text-left"
                                header-class="'text-left'"
                                data-title="'CODE TYPE'"
                                sortable="'codeType'"
                            >
                                {{ code.codeType }}
                            </td>
                            <td
                                class="datatable-cell datatable-cell-left text-left"
                                header-class="'text-left'"
                                data-title="'STATUS'"
                                sortable="'status'"
                            >
                                {{ code.status }}
                            </td>
                            <td
                                class="datatable-cell datatable-cell-left text-left"
                                header-class="'text-left'"
                                data-title="'EXPIRATION'"
                                sortable="'expiration'"
                            >
                                {{ code.expiration }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
