.cursor-pointer {
	cursor: pointer;
}

.modal-dialog{
	width: 80%;
	margin: auto;
 }
 
.ng-animate.no-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

a:hover {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #f5f5f5 !important;
}

::-webkit-scrollbar {
    width: 6px !important;
    background-color: #f5f5f5 !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: rgb(159, 147, 147) !important;
}

.modal.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}

.modal-backdrop.in {
    opacity: 0.5;
    /* opacity: $modal-backdrop-opacity; (SCSS) */
}

.modal {
	text-align: center;
	padding: 0!important;
  }
  
.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

.avatar-xl {
    width: 8rem;
    height: 8rem;
    font-size: 1rem;
}

.dropdown-window {
    max-height: 225px !important;
    overflow-y: auto !important;
}

.ng-hide.ng-hide-animate{
	display: none !important;
}

.ng-leave { display:none; }

.ng-animate.no-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}
