<div class="widget">
    <div class="widget-content widget-content-area br-6">
        <table-search table="vm.membersTable"></table-search>
        <div class="table-responsive mb-4 mt-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <table
                            class="table table-hover datatable"
                            role="grid"
                            ng-table="vm.cashoutsTable"
                            template-pagination="pagination.tpl.html"
                        >
                            <tr
                                class="datatable-row cursor-pointer"
                                ng-repeat="cashout in $data"
                                ng-click="vm.openCashoutModal(cashout)"
                            >
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'CASHOUT NUMBER'"
                                    sortable="'cashoutNumber'"
                                >
                                    {{ cashout.cashoutNumber }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'ACCOUNT'"
                                    sortable="'accountNumber'"
                                >
                                    {{ cashout.accountNumber }} - {{ cashout.accountName }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'AMOUNT'"
                                    sortable="'amount'"
                                >
                                    {{ cashout.amount | currency:'₱': 2 }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'STATUS'"
                                    sortable="'status'"
                                    translate=" {{ cashout.status }}"
                                ></td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'APPROVED DATE'"
                                    sortable="'approvedDate'"
                                >
                                    {{ cashout.approvedDate | date: 'short' }}
                                </td>
                                <td
                                    class="datatable-cell datatable-cell-left text-left"
                                    header-class="'text-left'"
                                    data-title="'RELEASE DATE'"
                                    sortable="'releasedDate'"
                                >
                                    {{ cashout.releasedDate | date: 'short' }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
