<div class="row">
    <div class="col-12 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3">
        <div class="datatable-filter">
            <label>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-search"
                >
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <input
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                    aria-controls="zero-config"
                    ng-model="vm.searchTermAuto"
                />
            </label>
        </div>
    </div>
</div>
