.cursor-pointer {
	cursor: pointer;
}

.modal-dialog{
	width: 90%;
	margin: 0.5rem auto;
 }

.ng-animate.no-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

a:hover {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #f5f5f5 !important;
}

::-webkit-scrollbar {
    width: 6px !important;
    background-color: #f5f5f5 !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: rgb(159, 147, 147) !important;
}

.modal.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}

.modal-backdrop.in {
    opacity: 0.5;
    /* opacity: $modal-backdrop-opacity; (SCSS) */
}

.modal {
	text-align: center;
	padding: 0!important;
  }
  
.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

.horizontal-wizard {
    text-align: center;
    position: relative;
    margin-top: 20px
}

.horizontal-wizard > .progressbar {
    margin: 0px 0px 30px 0px;
    padding: 0;
    overflow: hidden;
    color: lightgrey
}

.horizontal-wizard > .progressbar > .active {
    color: #000000
}

.horizontal-wizard > .progressbar > li {
    list-style-type: none;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
    z-index: 1;
}

.horizontal-wizard > .progressbar > .binary:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f387"
}

.horizontal-wizard > .progressbar > .account:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f406"
}

.horizontal-wizard > .progressbar > .finish:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f00c"
}

.horizontal-wizard > .progressbar > li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

.horizontal-wizard > .progressbar > li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

.horizontal-wizard > .progressbar > li.active:before,
.horizontal-wizard > .progressbar > li.active:after {
    background: skyblue
}

.avatar-xl {
    width: 8rem;
    height: 8rem;
    font-size: 1rem;
}

.dropdown-window {
    max-height: 225px !important;
    overflow-y: auto !important;
}

.ng-hide.ng-hide-animate{
	display: none !important;
}

.ng-leave { display:none; }

.ng-animate.no-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}