<div class="col-12 layout-spacing">
    <div class="videogular-container">
        <videogular vg-theme="ima.config.theme.url">
            <vg-media vg-src="ima.config.sources"></vg-media>
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <!-- <vg-ima-ads
                                vg-network="ima.config.plugins.ads.network"
                                vg-unit-path="ima.config.plugins.ads.unitPath"
                                vg-companion="ima.config.plugins.ads.companion"
                                vg-companion-size="ima.config.plugins.ads.companionSize"
                                vg-ad-tag-url="ima.config.plugins.ads.adTagUrl"
                                vg-skip-button="ima.config.plugins.ads.skipButton"
                            ></vg-ima-ads> -->

            <vg-overlay-play></vg-overlay-play>
            <vg-poster vg-url="ima.config.plugins.poster"></vg-poster>
        </videogular>
        <div id="companionAd"></div>
    </div>
</div>
