.layout-spacing {
    padding-bottom: 25px;
}
.layout-top-spacing {
    margin-top: 15px;
}
.widget {
    position: relative;
    padding: 0px;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    /* background: #fff; */
}
.widget .widget-heading {
    margin-bottom: 15px;
}
.widget h5 {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0px;
    margin-bottom: 0;
    color: #515365;
}

/*
    =====================
       Wallet
    =====================
*/

.widget-wallet {
    padding: 0;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background: transparent;
    border: none;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-wallet .widget-content {
    padding: 24px 30px 24px 30px;
    border-radius: 15px;
    min-height: 213px;
    height: 100%;
	position:relative;
}
.widget-wallet .widget-content.c_wallet {
    background: #d89725;
	background: -webkit-radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                -webkit-radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
	background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}
.widget-wallet .widget-content.w_wallet {
	background: #283c86;
	background: -webkit-linear-gradient(to right, #4db04f, #007d2b);
	background: linear-gradient(to right, #4db04f, #007d2b);
	
}
.widget-wallet .widget-content.b_wallet {
    background: #0f2027;
	background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
}
.widget-wallet .widget-content.e_wallet {
	background: #FF5F6D;
	background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);
	background: linear-gradient(to right, #FFC371, #FF5F6D);
	
}
.widget-wallet .widget-content .wallet-usr-info {
    display: flex;
    justify-content: space-between;
}
.widget-wallet .widget-content .wallet-usr-info span {
    display: inline-block;
    color: #fff;
    background: rgb(0 0 0 / 40%);
    padding: 5px 12px 5px 12px;
    border-radius: 21px;
    position: relative;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
}
.widget-wallet .widget-content .add {
    align-self: center;
}
.widget-wallet .widget-content .add span {
    padding: 6px;
    border-radius: 12px;
}
.widget-wallet .widget-content .wallet-balance {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.widget-wallet .widget-content .wallet-balance p {
    margin-bottom: 0;
    align-self: center;
    font-size: 19px;
    color: #fff;
}
.widget-wallet .widget-content h5 {
    font-size: 28px;
    color: #fff;
    margin-top: 0;
    font-weight: 500;
}
.widget-wallet .widget-content h5 .wallet-currency {
    color: #bfc9d4;
    display: inline-block;
}
.widget-wallet .widget-content .wallet-action {
    margin-top: 35px;
	display: flex;
	justify-content: space-between;
}
.widget-wallet .widget-content .wallet-action a {
	display: inline-block;
	padding: 6px 10px 6px 10px;
	border-radius: 6px;
	color: #e0e6ed;
	box-shadow: 0px 0px 2px 0px #bfc9d4;
}


/*
    ====================
        Summary
    ====================
*/

.widget-summary {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-summary .widget-heading {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}
.widget-summary .widget-content {
    font-size: 17px;
}
.widget-summary .widget-content .summary-list {
    position: relative;
    padding: 15px;
    background: rgb(224 230 237 / 40%);
    border-radius: 6px;
}
.widget-summary .widget-content .summary-list .summary-info {
    display: flex;
    margin-bottom: 0;
}
.widget-summary .widget-content .widget-icon {
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-right: 12px;
}
.widget-summary .widget-content .widget-icon svg {
    display: block;
    width: 22px;
    height: 22px;
    stroke-width: 1px;
}
.widget-summary .widget-content .summary-list:not(:last-child) {
    margin-bottom: 9px;
}
.widget-summary .widget-content .widget-summary-details {
    width: 100%;
    align-self: center;
}
.widget-summary .widget-content .widget-summary-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
	align-items: center;
}
.widget-summary .widget-content .widget-summary-info h6 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-summary .widget-content .widget-summary-info .summary-count {
    display: block;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 600;
    color: #515365;
}
.widget-summary .widget-content .summary-list.pairing {
    background: rgb(220 207 247 / 34%);
}
.widget-summary .widget-content .summary-list.flushed_out {
	background: rgba(255, 152, 175, 0.34);
}
.widget-summary .widget-content .summary-list.direct_referral {
    background: rgb(186 231 255 / 34%);
}
.widget-summary .widget-content .summary-list.entry {
    background: rgb(255 236 203 / 34%);
}
.widget-summary .widget-content .summary-list.pairing .widget-icon svg {
    color: #805dca;
    fill: rgb(92 26 195 / 16%);
}
.widget-summary .widget-content .summary-list.flushed_out .widget-icon svg {
    color: #f32136;
    fill: rgba(243, 33, 124, 0.16);
}
.widget-summary .widget-content .summary-list.direct_referral .widget-icon svg {
    color: #2196f3;
    fill: rgb(33 150 243 / 16%);
}
.widget-summary .widget-content .summary-list.entry .widget-icon svg {
    color: #e2a03f;
    fill: rgb(226 160 63 / 16%);
}

/*
    ==================
        Expenses
    ==================
*/
.widget-expenses {
    background: #fff;
	position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-expenses .widget-heading {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}
.widget-expenses .widget-content {
    font-size: 17px;
}
.widget-expenses .widget-content .expenses-list {
    display: flex;
	padding: 15px 15px;
	border: 1px dashed #bfc9d4;
	border-radius: 6px;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.widget-expenses .widget-content .expenses-list:not(:last-child) {
    margin-bottom: 32px;
}
.widget-expenses .widget-content .expense-icon {
    display: inline-block;
    padding: 8px 8px;
	border-radius: 12px;
    display: inline-flex;
	align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    margin-right: 12px;
}
.widget-expenses .widget-content .expenses-list .expense-icon .avatar-title.ww {
	 padding: 5px 5px 5px 5px;
	border-radius: 5px;
	background-color: rgb(179, 255, 181);
	color: #439c4b;
}
.widget-expenses .widget-content .expenses-list .expense-icon .avatar-title.bw {
	 padding: 5px 5px 5px 5px;
	border-radius: 5px;
	background-color: #3b3f5c;
	color: #fff;
}
.widget-expenses .widget-content .expenses-list .expense-icon .avatar-title.ew {
	 padding: 5px 5px 5px 5px;
	border-radius: 5px;
	background-color: rgb(255, 225, 226);
	color: #e7515a;
}
.widget-expenses .widget-content .expense-details {
    width: 100%;
    align-self: center;
}
.widget-expenses .widget-content .expense-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
	align-items: center;
}
.widget-expenses .widget-content .expense-info h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}
.widget-expenses .widget-content .expense-info p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #888ea8;
}


/*
    ===========================
        Top Selling Product
    ===========================
*/

.widget-table-top {
    background: #fff;
	position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e0e6ed;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}
.widget-table-top .widget-heading {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}
.widget-table-top .widget-heading h5 {
    font-size: 19px;
    margin-bottom: 20px;
}
.widget-table-top .widget-content {
    background: transparent;
}
.widget-table-top .table {
    border-collapse: separate;
    border-spacing: 0 5px;
    margin-bottom: 0;
}
.widget-table-top .table > thead > tr > th:first-child .th-content {
    margin-left: 10px;
}
.widget-table-top .table > thead > tr > th:last-child .th-content {
    padding: 0 15px 0 0;
    width: 84%;
    margin: 0 auto;
}
.widget-table-top .table > thead > tr > th {
    text-transform: initial;
    font-weight: 600;
    border-top: none;
    background: rgb(186 231 255 / 34%);
    border-right: none;
    border-left: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 10px 0 10px 15px;
}
.widget-table-top .table > thead > tr > th:first-child {
    border-bottom-left-radius: 6px;
}
.widget-table-top .table > thead > tr > th:first-child {
    border-top-left-radius: 6px;
}
.widget-table-top .table > thead > tr > th:last-child {
    border-bottom-right-radius: 6px;
    padding-left: 0;
}
.widget-table-top .table > thead > tr > th:last-child {
    border-top-right-radius: 6px;
}
.widget-table-top .table > thead > tr > th .th-content {
    color: #515365;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}
.widget-table-top .table > tbody > tr > td {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.widget-table-top .table > tbody > tr {
    background: transparent;
}
.widget-table-top .table > tbody > tr > td .td-content {
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    color: #515365;
}
.widget-table-top .table > tbody > tr > td:first-child {
    border-top-left-radius: 6px;
    padding: 12px 0px 12px 15px;
}
.widget-table-top .table > tbody > tr > td:first-child {
    border-bottom-left-radius: 6px;
}
.widget-table-top .table > tbody > tr > td:last-child {
    border-top-right-radius: 6px;
}
.widget-table-top .table > tbody > tr > td:last-child {
    border-bottom-right-radius: 6px;
}
.widget-table-top .table > tbody > tr > td:last-child .td-content {
    padding: 0 15px 0 0;
    width: 50%;
    margin: 0 auto;
}
.widget-table-top .table tr > td:nth-last-child(2) .td-content {
    padding: 0 0 0 0;
    width: 65%;
    margin: 0 auto;
}
.widget-table-top .table .td-content.product-name {
    color: #515365;
    letter-spacing: 1px;
    display: flex;
}
.widget-table-top .table .td-content.product-name svg {
	width: 25px;
	height: 25px;
	margin-right: 11px;
	align-self: center;
}
.widget-table-top .table > tbody > tr:nth-child(1) .td-content.product-name svg {
	color: #FFD700;
	fill: rgba(255,215,0, 0.16);
}
.widget-table-top .table > tbody > tr:nth-child(1) .td-content {
	width:100%;
}
.widget-table-top .table > tbody > tr:nth-child(2) .td-content.product-name svg {
	color: #C0C0C0;
	fill: rgba(192,192,192, 0.16);
}
.widget-table-top .table > tbody > tr:nth-child(2) .td-content {
	width:100%;
}
.widget-table-top .table > tbody > tr:nth-child(3) .td-content.product-name svg {
	color: #CD7F32;
	fill: rgba(205, 127, 50, 0.16);
}
.widget-table-top .table > tbody > tr:nth-child(3) .td-content {
	width:100%;
}



.widget-table-top .table .td-content.product-name .prd-name {
    font-weight: 700;
    margin-bottom: 0;
    font-size: 13px;
}
.widget-table-top .table tr:hover .td-content.product-name .prd-name {
    color: #888ea8;
}
.widget-table-top .table .td-content.product-name .prd-category {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 1px 1px 7px rgb(0 0 0 / 26%);
}


/* width: 66%; */