<nav-header></nav-header>
<div class="main-container" id="container">
    <div id="overlay" class="overlay" overlay-click></div>
    <nav-menu></nav-menu>
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <ncy-breadcrumb></ncy-breadcrumb>
            <div class="row layout-top-spacing">
                <div class="col-12 layout-spacing">
                    <ui-view></ui-view>
                </div>
            </div>
            <script
                async="async"
                data-cfasync="false"
                src="//presumptuousfunnelinsight.com/84200bbf88fe39cf65b13eaf5b444d63/invoke.js"
            ></script>
            <div id="container-84200bbf88fe39cf65b13eaf5b444d63"></div>
        </div>
    </div>
</div>
